<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<label>Custom templates</label>
        <ng-select [items]="flags"
                   bindLabel="country"
                   bindValue="id"
                   placeholder="Select country"
                   [(ngModel)]="selectedCountryId">
            <ng-template ng-label-tmp let-item="item">
                <span class="flag-icon" [ngClass]="'flag-icon-'+item.code"></span>
                <b>{{item.country}}</b> is cool
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                <span class="flag-icon" [ngClass]="'flag-icon-'+item.code"></span>
                <b>{{item.country}}</b>
            </ng-template>
        </ng-select>
        <p>
            Selected country id: {{selectedCountryId}}

        </p>


<div><span class="flag-icon flag-icon-cr"></span></div>


<router-outlet></router-outlet>
